.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    float: right;
    display:block;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }

 li {
    float: right;
    padding:10px;
  }

li a {
 display: block;
 color: #8733A3;
 text-align: center;
 padding: 10px 10px;
 text-decoration: none;
 background-color:white;
  }

.display-4{
font-family: "Poppins";
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 80px;
text-align: center;
color: #8733A3;}
/* Group 7282 */

position: absolute;
width: 90.77px;
height: 74.24px;
left: 1319px;
top: 192px;

opacity: 0.5;
transform: rotate(30.44deg);


/* Ellipse 47 */

position: absolute;
left: 91%;
right: 6.63%;
top: 8.33%;
bottom: 90.56%;

background: #8733A3;
transform: rotate(30.44deg);


/* Ellipse 49 */

position: absolute;
left: 91.83%;
right: 4.45%;
top: 8%;
bottom: 90.83%;

background: #8733A3;
transform: rotate(30.44deg);


/* Ellipse 48 */

position: absolute;
left: 92.52%;
right: 5.1%;
top: 8.78%;
bottom: 90.11%;

background: #8733A3;
transform: rotate(30.44deg);


/* Ellipse 41 */

position: absolute;
left: 92.71%;
right: 6%;
top: 7.25%;
bottom: 91.86%;

background: #8733A3;
transform: matrix(0.94, 0.35, -0.34, 0.94, 0, 0);


/* Ellipse 43 */

position: absolute;
left: 94.68%;
right: 4.02%;
top: 7.68%;
bottom: 91.43%;

background: #8733A3;
transform: matrix(0.76, 0.64, -0.66, 0.76, 0, 0);


/* Ellipse 44 */

position: absolute;
left: 95.47%;
right: 3.24%;
top: 8.51%;
bottom: 90.6%;

background: #8733A3;
transform: matrix(0.64, 0.76, -0.78, 0.64, 0, 0);


/* Ellipse 42 */

position: absolute;
left: 90.84%;
right: 7.87%;
top: 7.41%;
bottom: 91.69%;

background: #8733A3;
transform: matrix(0.98, 0.19, -0.17, 0.98, 0, 0);


#Button6{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}
#Button5{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}
    
#Button4{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}
            
.Button5{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}
    
  .jumbotron{
      text-align:center;
      background-color:#FFF6E8;
      color:#8733A3;}

  .jumbotron2{
      text-align:center;
      background-color:#8733A3;
      color:white;}

.card {
  display: grid;
  grid-template-columns: auto auto auto;}

.card-img-top {
  width: 100%;}

.card-deck {
  display: grid;
  grid-template-columns: auto auto;
  background-color:#FFC839;}

.card3{
  background-color:#FFF6E8;
  color: #8733A3;}

.card-img-top2 {
    width: 100%;}

.footer{
  background-color:#4A1C59;
  color:white;
}