.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    float: right;
    display:block;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }

 li {
    float: right;
    padding:10px;
  }

li a {
 display: block;
 color: #8733A3;
 text-align: center;
 padding: 10px 10px;
 text-decoration: none;
 background-color:white;
  }
  .navcat{
    font-size:20px;
  
  }

.display-4{
font-family: "Poppins";
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 80px;
text-align: center;
color: #8733A3;}

.paw{
  float:right;
}

.res{
  font-size:36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  color: #8733A3;}

#Button6{width: 150px;
height: 60px;
position: absolute;
left: 86.04%;
right: 3.54%;

background: #8733A3;
border-radius: 15px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: white;}

#Button5{
filter: drop-shadow(4px 4px 0px #FFC839);
font-family: "Poppins";
font-style: normal;
font-weight: bold;
font-size: 18px;
text-align: center;
color: #FFF6E8;
height:48px;
width:200px;
border-radius:25px;
background-color:#8733A3;}
    
#Button4{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}
            
    
  .jumbotron{
      text-align:center;
      background-color:#FFF6E8;
      color:#8733A3;}

  .jumbotron2{
      text-align:center;
      background-color:#8733A3;
      color:white;}

.card {
  display: grid;
  grid-template-columns: auto auto auto;}

.card-img-top {
  width: 100%;}

.card-deck {
  display: grid;
  grid-template-columns: auto auto;
  background-color:#FFC839;}

.card3{
  background-color:#FFF6E8;
  color: #8733A3;}

.card-img-top2 {
    width: 100%;}

.footer{
  background-color:#4A1C59;
  color:white;
}
