.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    float: right;
    display:block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
    padding:10px;
  }
  
  li a {
    display: block;
    color: #8733A3;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    background-color:white;
  }
  #Button6{ 
    background-color:#8733A3;
    color: white;
    height:48px;
    width:200px;
    border-radius:25px;
    font-family:"Poppins";  
    font-size:18px;}